.contacts {
    display: flex;
}

.contacts__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $title-text-color;
    fill: $title-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--separation {
                margin-left: 30px;
            }

        &:hover,
        &:focus {
                color: $accent-color;
                fill: $accent-color;
            }
}

.contacts__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}