:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --white-color: #ffffff;

    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}

/* ////////////////////////////////////----------НАВИГАЦИЯ----------//////////////////////////////////////////////////// */

/* (ШАПКА САЙТА) */
.header {
    position: fixed;
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 10;
    
    background-color: #FFF;
    border-bottom: 1px solid #e3e1e1;
}

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin: 0;
    padding-left: 90px;
    padding-right: 300px;
    list-style: none;
}

.site-nav__link {
    position: relative;
    
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link::after {
    content: "";

    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: var(--accent-color);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after {
    transform: scaleX(1);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__indent {
    position: relative;
    margin-left: 50px;
}

.site-nav__indent:first-child {
    margin-left: 0;
}

.site-nav__active {
    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;

    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav__link--current {
    color: var(--accent-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////----------ЛОГОТИП----------//////////////////////////////////////////////////// */

.logo {
    display: inline-block;
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo__accent {
    color: var(--accent-color);
}

.logo--white {
    color: #FFF;
    font-style: normal;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////----------КОНТАКТЫ----------//////////////////////////////////////////////////// */

.contacts {
    display: flex;
}

.contacts__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: #757575;
    fill: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.contacts__link--separation {
    margin-left: 30px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////----------БЛОК-ГЕРОЙ!----------//////////////////////////////////////////////////// */

.hero {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    position: relative;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/global/12.jpg");
    /* background-image: url("../images/global/Img-optim.jpg"); */
    background-color: #757575;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    color: var(--white-color);
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
    position: relative;
    z-index: 2;
    
    text-shadow:
    -0 -1px 1px #000000,
    0 -1px 1px #000000,
    -0 1px 1px #000000,
    0 1px 1px #000000,
    -1px -0 1px #000000,
    1px -0 1px #000000,
    -1px 0 1px #000000,
    1px 0 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px 1px 1px #000000,
    1px 1px 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px 1px 1px #000000,
    1px 1px 1px #000000;
}

.hero__button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--white-color);
    border: 1px solid #2196f3;
    font-family: inherit;
    cursor: pointer;
}

.hero__button--pulsate-style {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 20px;

    animation: pulsate-bck 0.5s ease-in-out infinite;
}

.hero__button--pulsate-style:hover {
    animation-play-state: paused;
}

.hero__svinka {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    margin-left: 50px;
    
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    
    background-image: url(../images/global/pig-pig.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    animation: svinina 15000ms linear 100ms infinite alternate none running,
            svin 10s linear 0s infinite;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////----------МОДЕЛЬНОЕ ОКНО С ФОРМОЙ----------//////////////////////////////////////// */

/* ----ТЕМНЫЙ ФОН---- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;

    background-color: rgba(35, 35, 35, 0.5);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----МОДАЛКА!!!---- */
.modal {
    /* можно спозиционировать в backdrop с помощью flex, но лучше так */
    position: absolute;
    top: 56%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;

    background-color: rgb(131, 131, 131);

    /* Если в 2х scale(1); поменять значения наоборот, то модалка будет появляться ОТ НАС! */
    /* Значения transition: можно писать через Запятую! */
    /* типа -- transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* КОГДА СПРЯТАН backdrop МОДАЛКА тоже СПРЯТАНА и МЫ ЧТО_ТО ПРЕМИНЯЕМ К МОДАЛКЕ!!! */
/* То как она будет показываться и прятаться работае совмстно с transform у .modal */
.backdrop.backdrop--is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

/* СКРЫТИЕ МОДАЛКИ И ВОЗМОЖНОСТЬ НАЖИМАТЬ КНОПКИ И Т.П!!! */
.backdrop.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* ////////////////////////////////----------ФОРМА----------///////////////////////////////////////////////////// */

.form {
    width: 528px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 20px 40px;

    background-color: #FFFFFF;
    outline: 1px solid #EEEEEE;

    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}   

.form__title {
    margin-top: 5px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em
}

.form__field {
    position: relative;
    display: flex;
    width: 448px;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

.form__field--top-indent {
    margin-top: 15px;
}

.form__input {
    width: 448px;
    height: 40px;
    margin: 0;
    padding: 5px;
    padding-left: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form__label {
    margin-bottom: 5px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    
    transition: transform 250ms linear;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: #757575;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.form__comment {
    text-align: left;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: #757575
}

.form__textarea {
    /* (запрещает растягивать текст) */
    resize: none;

    padding: 10px;
    font-size: 15px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px
}

/* ----селекторы для анимации и т.д---- */
.form__field:focus-within>.form__icon {
    fill: #2196F3;
}

.form__field:focus-within>.form__label {
    color: #2196F3;
    transform: translate(-37px, -37px);
}

.form__input:not(:placeholder-shown)+.form__label {
    transform: translate(-37px, -37px);
}

/* ----Чекбокс---- */
.form__checkbox-label {
    display: flex;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* что бы не растягивать на всю ШИРИНУ экрана!!!! */
}

.form__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.form__checkbox-icon {
    display: flex;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    
    border: 2px solid black;
    border-radius: 4px; 
    cursor: pointer;
    
    transition: transform 250ms linear;
}

.form__checkbox-text {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    
    color: #757575
}

.form__checkbox-link {
    color: #2196f3;
}

/* (когда нажмем на чекбокс, он поменяет цвет.) */
/* (Селектор выберает соседний класс, которые идет после него.) */
/* (можно вместо + вписать ~ и выберать любой класс который является его соседом по вложенности) */
.form__checkbox:checked+.form__checkbox-icon {
    background-color: #2196F3;
    background-image: url(../images/form/galochka.svg);
    background-size: contain;

    /* (ЧТо бы ФОн распростронялся еще и на BORDER пишем:) */
    /* (Иконка заезжает на БОРДЕР) */
    background-origin: border-box;
    /* (Иии делаем обводку таким же цветом как БэкГраунд)*/
    border-color: #2196F3;

    transform: scale(1.2);
}

/* (Анимация чекбокса) */
.form__checkbox:checked~.form__checkbox-text {
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----кнопка отправки формы---- */
.form__button {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    color: #ffffff;
    background-color: #2196F3;
    border: 1px solid #2196f3;
    font-family: inherit;
    
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form__button:hover {
    background-color: #096bcd;
}

/* ----кнопка закрытия формы/модалки---- */
.form__button-close {
    position: absolute;
    top: -2%;
    right: -3%;
    width: 30px;
    height: 30px;
    
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    cursor: pointer;
    
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button-icon {
    position: absolute;
    top: 51%;
    left: 5px;
    
    transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%)
}

.form__button-close:hover,
.form__button-close:focus {
    background-color: #2196f3;
}

.form__button-close:hover .form__button-icon {
    fill: #FFF;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////----------СЕКЦИЯ-ФУНКЦИЙ_КОМПАНИИ----------///////////////////////////////////////// */

/* (Текст скрыт от глаз пользователя) */
.feature-section__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list__card {
    margin-left: 30px;
}

.feature-list__card:first-child {
    margin-left: 0;
}

.feature-list__thumb {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
}

.feature-list__icon {
    width: 70px;
    height: 70px;
}

.feature-list__title {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 30px;
    margin-bottom: 10px;
}

.feature-list__text {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0;
    
    color: var(--title-text-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////----------СЕКЦИЯ-ЧЕМ ЗАНИМАЕТСЯ КОМПАНИЯ----------/////////////////////////////////// */

.skill-section__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px
}

.skill-list {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 94px;

    list-style: none;
}

.skill-list__card {
    position: relative;

    margin-left: 30px;
}

.skill-list__card:first-child {
    margin-left: 0;
}

.skill-list__text {
    position: absolute;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////----------СЕКЦИЯ-КОМАНДА ПРОЕКТА----------////////////////////////////////////// */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #F5F4FA;;
}

.section-team__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px   
}

.team-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-list__card {
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__card:first-child {
    margin-left: 0;
}

.team-thumb {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-thumb__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    text-align: center;
}

.team-thumb__text {
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
    
    color: var(--title-text-color);
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center
}

.social-list__card {
    margin-left: 10px;
}

.social-list__card:first-child {
    margin-left: 0;
}

.social-list__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: #AFB1B8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
    fill: #FFFFFF;
    background-color: var(--accent-color);
}

.social-list__icon {
    width: 20px;
    height: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////----------СЕКЦИЯ-ПОСТОЯННЫЕ КЛИЕТЫ----------////////////////////////////////////// */

.section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-customers-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px
}

.customers-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.customers-list__card {
    margin-left: 30px;
}

.customers-list__card:first-child {
    margin-left: 0;
}

.customers-list__link {
    display: flex;
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover,
.customers-list__link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////----------FOOTER-ПОДВАЛ----------//////////////////////////////////////////// */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;;
}

.footer__container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

.addres {
    display: inline-block;
}

.addres__text {
    padding-top: 20px;
    padding-bottom: 9px;

    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    color: #FFF;
}

.addres__contacts {
    display: flex;
    flex-direction: column;

    font-style: normal;
}

.contacts__link--style-font {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.contacts__styte-text {
    padding-right: 5px;
    color: #757575;
}

.footer-social {
    padding-left: 120px;
    padding-top: 12px;
}

.footer-social__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.social-list__link--footer-style {
    fill: var(--white-color);
    background: rgba(255, 255, 255, 0.1);
}

/* ----ФОРМА В ФУТЕРЕ---- */
.footer-form {
    display: flex;
    padding-top: 12px;
}

.footer-form-field {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
}

.footer-form-field__label {
    margin-bottom: 20px;
    
    color: #FFF;
    
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.footer-form-field__imput {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
    color: var(--white-color);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

/* ----КНОПКА ФОРМЫ В ФУТЕРЕ---- */
.footer-form-btn {
    position: relative;
    
    display: inline-flex;
    width: 200px;
    height: 50px;
    align-items: center;
    margin-left: 12px;
    margin-top: 36px;
    padding: 14px 25px 10px 30px;
    
    
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--accent-color);
    
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #FFF;
    
    overflow: hidden;
    
    cursor: pointer;
    
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #0d7bd5;
}

.footer-form-btn::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-bottom: 2px;

    background-image: url(../images/form/iconsvg.svg);
    background-size: contain;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover::after {
    transform: translateY(-40px);
}

.footer-form-btn::before {
    content: "";
    position: absolute;
    top: 51%;
    right: 26px;

    display: inline-block;
    width: 24px;
    height: 24px;

    background-image: url(../images/form/iconsvg.svg);
    background-size: contain;

    /* что бы отодвинуть вниз! */
    /* + если будет позиционироваться криво */
    transform: translateY(calc(-50% + 50px));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover::before {
    transform: translateY(-50%);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////----------КАРТОЧКИ С РАБОТАМИ----------///////////////////////////////////////// */

.section-services {
    padding-bottom: 94px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none
}

.project-list__item {
    width: 370px;
    height: 404px;
    margin-left: 30px;
}

.project-list__item:nth-child(3n + 1) {
    margin-left: 0;
}

.project-list__item:nth-child(-n + 6) {
    margin-bottom: 30px;
}

.project-card {
    position: relative;
    box-shadow: var(--card-shadow);
    transition-duration: 500ms;
}

.project-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
}

.project-card__thumb {
    position: relative;
    overflow: hidden;
}

.project-card__position {
    position: absolute;
    bottom: 0;
    height: 100%;
    
    display: flex;
    text-align: center;
    align-items: center;
    padding: 63px 24px 63px 24px ;
    
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);
    
    background-color: rgba(57, 57, 57, 0.8);
    
    transform: translateY(105%);
    transition: transform 250ms ease
}

.project-card:hover .project-card__position {
    transform: translateY(0);
}

.project-card__content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px
}

.project-card__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-card__text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////----------ЛИНИЯ КНОПОК----------///////////////////////////////////////////// */

.button-line {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    padding-top: 60px;
    padding-bottom: 50px;
    list-style: none;
}

.button-line__item {
    margin-right: 8px;
}

.button-line__item:last-child {
    margin-right: 0;
}

.button-line__link {
    display: inline-flex;
    padding: 6px 22px 6px 22px;

    font-weight: 500;
    line-height: 1.6;
    color: #212121;

    background-color: #F5F4FA;
    border-radius: 4px;

    text-decoration: none;

    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
                           color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-line__link:hover,
.button-line__link:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */