.footer-social {
    padding-left: 120px;
    padding-top: 12px;
}

.footer-social__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
}